@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* styles.css */
:root {
  --background-color: #fcdad4; /* Gris oscuro */
  --secondary-color: #ffffff; /* Verde */
  --primary-color: #f6f6f6; /* Azul */
  --foreground-color: #f2f2f2; /* Blanco */
  

  --button-color: #eb2026; /* Azul */
  --label-color: #ffffff; /* Texto oscuro */
  --input-color: #ffffff; /* Blanco para inputs */
  --text-color:  #222222; /* Texto oscuro */
}

/* styles.css */
@layer utilities {
  /* Colores de fondo */
  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-secondary {
    background-color: var(--secondary-color);
  }

  .bg-background {
    background-color: var(--background-color);
  }

  .bg-foreground {
    background-color: var(--foreground-color);
  }

  /* Colores de texto */
  .text-primary {
    color: var(--primary-color);
  }

  .text-secondary {
    color: var(--secondary-color);
  }

  .text-text {
    color: var(--text-color);
  }

  .text-label {
    color: var(--label-color);
  }

  /* Colores de botones */
  .bg-button {
    background-color: var(--button-color);
  }

  .bg-button:hover {
    background-color: var(--primary-color); /* Para un hover de ejemplo */
  }

  /* Colores de inputs */
  .bg-input {
    background-color: var(--input-color);
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
