{erl_opts, [warnings_as_errors]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [{eunit, "-v"}]}
]}.

{relx, [
    {release, {docs_lock, "0.0.1"}, [
        runtime_tools,
        sasl,
        docs_lock,
        docs_lock_db_mongo,
        docs_lock_service_rest
    ]},
    {dev_mode, false},
    {include_erts, false}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
